# Flask + Deployment
flask
gunicorn
python-dotenv
werkzeug

# LangChain Core
langchain
langchain-community
langchain-google-genai
langchain-huggingface

# Vector Search
faiss-cpu
sentence-transformers

# PDF Handling
PyPDF2

# Other Core Utils
uuid
requests
beautifulsoup4
tqdm
pydantic
unstructured
